header {
    font-family: 'Roboto', sans-serif; /* Example font family */
    padding: 0 0 0 0; /* Adjust as needed */
    border-radius: 30px; /* Rounded corners */
    margin-bottom: 20px; /* Space below section */
    border-bottom: 2px solid green;
    border-top: 2px solid green;
    animation: fadeIn 0.5s ease-out; /* Apply animation */
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif; /* Example font family */
    background-color: black;
}

nav ul {
    list-style-type: none;
    padding: 18px;
    text-align: center; /* Center align links */
    border-radius: 30px; /* Rounded corners */
    overflow: hidden; /* Ensures rounded corners are visible */
    animation: fadeIn 0.5s ease-out; /* Apply animation */
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between links */
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding for better click area */
    color: white;
    transition: background-color 0.3s ease; /* Smooth transition */
    border-bottom: 2px solid green;
    border-radius: 45px;
}

nav ul li a:hover {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 45px; /* Rounded corners */
    box-shadow: 0px 2px 5px lightgreen; /* Box shadow for header */
}

.button {
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding for better click area */
    color: white;
    transition: background-color 0.3s ease; /* Smooth transition */
    border-bottom: 2px solid green;
    border-radius: 45px;
    animation: fadeIn 0.5s ease-out; /* Apply animation */
    cursor: pointer;
}

.button:hover {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 45px; /* Rounded corners */
    box-shadow: 0px 2px 5px lightgreen; /* Box shadow for header */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-10px, 10px); /* Optional: slide in from top */
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.noLink {
    color: white;
    padding: 20px; /* Padding around content */
    margin-bottom: 20px; /* Space below section */
    border-radius: 15px; /* Rounded corners */
    border-bottom: 2px solid green;
    animation: fadeIn 0.5s ease-out; /* Apply animation */
}

.link {
    color: white;
    padding: 20px; /* Padding around content */
    margin-bottom: 20px; /* Space below section */
    border-radius: 15px; /* Rounded corners */
    border-bottom: 2px solid green;
    animation: fadeIn 0.5s ease-out; /* Apply animation */
    cursor: pointer;
}

.link:hover {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    box-shadow: 0px 2px 5px lightgreen; /* Box shadow for header */
    border-radius: 15px; /* Rounded corners */
}

section h2 {
    font-size: 24px; /* Example heading size */
    margin-bottom: 10px; /* Space below heading */
    border-bottom: 2px solid green;
    display:inline-block;
}

section p {
    font-size: 16px; /* Example paragraph font size */
    line-height: 1.5; /* Improved line spacing */
}

@keyframes moveBg {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.moving-object {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.moving-object:hover {
    box-shadow: 5px 5px 10px green; /* Box shadow for header */
}

#object1 {
    animation-duration: 15s;
}

#object2 {
    animation-duration: 20s;
}

@keyframes moveObject {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100vw, 100vh);
    }
}

@keyframes objectFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes objectFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.hidden {
    opacity: 0;
    animation: fadeOut 0.5s ease-out forwards;
}